<header class="header headroom" >
	<div class="container">
		<div class="header__wrapper">
			<h1 class="hdr-logo" role="banner">
				<a class="hdr-logo-link" href="{{ site.url }}" rel="home">TKTK</a>
			</h1>
			<nav id="nav-main" class="header__nav" role="navigation">
				{% if primary %}
					<ul class="header__nav-list">
					{% for item in primary.get_items %}
						<li class="{{ item.classes | join(' ') }}">
							<a class="header__nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
				{% include "menu.twig" with {'items': primary.get_items} %}
			</nav><!-- #nav -->
			<div class="menu__trigger">
                <button class="menu-button" id="menu">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="square" stroke-linejoin="bevel" stroke-width="3" d="M12 4v16m8-8H4" />
                    </svg>
                </button>
            </div>
		</div>
	</div>
	<div id="progress-bar"></div>
</header>

<div class="menu">
	<div class="menu__inner">
		<ul>
		{% for item in menu.primary.get_items %}
			<li class="{{ item.classes | join(' ') }}">
				<a class="mobile-nav-item" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>