{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" data-barba="wrapper">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		{% include 'components/header.twig' %}
		{% include 'components/banner.twig' %}

		<div class="page-transition">
			<div class="page-transition__loading">{{ site.title }}</div>
		</div>

		<section id="content" role="main" class="content-wrapper" data-barba="container" data-barba-namespace="home">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			{% include 'components/footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
