{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="article-header">
				<div class="article-header__bg">
					{# <img src="{{ theme.link }}/assets/images/placeholder.jpg" alt="Hero image"> #}
				</div>
				<div class="article-header__content">
					<div class="container">
						<h1 class="font-heading heading-1">{{ post.title }}</h1>
						<p class="blog-author">
							<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
						</p>
					</div>
				</div>
			</div>
			<section class="article-content">
				<div class="container">
					<div class="article">
						{{post.content}}
					</div>
				</div>
			</section>
		</article>
		<section class="related-posts bg-gray-100 pt-8 pb-12">
			<div class="container mb-6">
				<p class="font-heading heading-3 font-bold">Read more</p>
			</div>
			{% include 'components/post-grid.twig' with { columns: 3 } %}
		</section>
	</div><!-- /content-wrapper -->
{% endblock %}
